body {
	background: url('../images/diamond.jpg') no-repeat;
	background-size: cover;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
	margin: 0 auto;
	min-width: 645px;
	max-width: 980px;
}

header {
	color: orange;
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
	margin: 2rem;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.button{
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius: 15px;
	border: 1px solid #d6bcd6;
	display: block;
	cursor: pointer;
	color: orange;
	font-family: inherit;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	border: none;
	position:relative;
	top:1px;
}
.button:focus {
	outline: 0;
}

#gameContainer {
	display: none;
	background-color: ghostwhite;
	border-radius: 1rem;
	box-shadow: -9px 9px 9px 0 rgba(0,0,0,.7);
	margin: 1rem;
	position: relative;
	overflow: hidden;
}

.scoreBoard {
	background-color: orange;
	box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
}
.score {
	width: 50%;
	padding: 0 3rem;
	font-size: 2rem;
}
.score:nth-of-type(1) {
	text-align: end;
}
.fa-question {
	color: orange;
	margin-top: calc(2rem + 4px);
	font-size: 3rem;
	padding: 1rem;
	border: 2px solid white;
	background-color: grey;
	border-radius: 50%;
		box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);

}

.crystalContainer,
.numWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
	margin: 2rem 0;
}
.crystalContainer {
	float: left;
	
}
.crystal {
	text-align: center;
	margin: 0.5rem;
	width: 45%;
}
.numWrapper {
	border-left: 2px solid rgba(0,0,0,0.3);
	float: right;
}
.numContainer {
	text-align: center;
	font-size: 2rem;
	padding: 2rem 3rem;
	margin: 0.5rem;
}
.numContainer > h3 {
	color: orange;
	font-size: 1.75rem;
	margin: 3rem 0;
}
.num {
	/* color: white; */
}
.fa-gem {
	background-color: white;
	border-radius: 1rem;
	box-shadow: -1px 3px 3px 0 rgba(0,0,0,.3);
	padding: 2rem;
	font-size: 4.25rem;
	margin: 1rem;
}
#c0 {
	color: red;
}
#c1 {
	color: blue;
}
#c2 {
	color: green;
}
#c3 {
	color: purple;
}

#help:hover,
.crystal {
	cursor: pointer;
}

#instructions {
	display: none;
}